.list-elements {
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap; 
  justify-content: flex-start; 
}

.favorite-provider {
  width: 100%; 
  box-sizing: border-box;
}

h1 {
  margin: 1rem;
}

@media screen and (min-width: 992px) {
  .favorite-provider {
    width: 25%; 
  }
}
