.list-elements {
  padding: 1.5rem;
  display: flex; 
  flex-wrap: wrap; 
}

.div-filtro-experiencia {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-filtro-experiencia h3 {
  padding-top: 1rem;
}

.provider {
  width: 100%; 
  padding: 1rem;
  box-sizing: border-box; 
}

.title-city-filter {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 2rem;
}

.title-city-filter h1 {
  font-size: 2.25rem;
  font-family: Hammersmith One;
}

.city-filter {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.nenhumencontrado{
  text-align: center;
}

@media screen and (min-width: 992px) {
  .provider {
    width: 22%;
  }
}
