<app-nav-bar></app-nav-bar>

<div class="title-city-filter">
  <h1>Digite sua cidade para encontrar cuidadores:</h1>
</div>

<div class="city-filter">
  <mat-form-field appearance="fill">
    <mat-label for="cityFilter">Filtrar por cidade</mat-label>
    <input
      matInput
      id="cityFilter"
      class="cityFilter"
      [(ngModel)]="cityFilter"
      (ngModelChange)="onCityFilterChange($event)"
      placeholder="Digite a cidade"
    />
  </mat-form-field>
</div>

<div class = "div-filtro-experiencia">
  <h3>Preciso de algúem que cuide de: </h3>
  <mat-checkbox id="exp_children" [(ngModel)]="childrenFilter" (ngModelChange)="onChildrenFilterChange($event)"  class="example-margin">Crianças</mat-checkbox>
  <mat-checkbox id="exp_elderly" [(ngModel)]="elderlyFilter" (ngModelChange)="onElderlyFilterChange($event)" class="example-margin">Idosos</mat-checkbox>
  <mat-checkbox id="exp_disabled" [(ngModel)]="disabledFilter" (ngModelChange)="onDisabledFilterChange($event)" class="example-margin">Pessoas com condições Especiais</mat-checkbox>         
</div>

<div *ngIf="isMobile$ | async; else desktopContent">
  <div class="map">
    <!-- Mapa ajustado para mobile -->
    <app-leaflet [mapId]="'descobrir'" [height]="'20rem'" [width]="'23rem'" [canClick]="true"></app-leaflet>
  </div>
</div>

<ng-template #desktopContent>
  <div class="map">
    <!-- Mapa ajustado para desktop -->
    <app-leaflet [mapId]="'descobrir'" [height]="'40rem'" [width]="'80rem'" [canClick]="true"></app-leaflet>
  </div>
</ng-template>

<div class="list-elements">
  @if(providers$ | async; as providers) { 
    @if(!providers || providers.length == 0){
      <h2 class="nenhumencontrado">
        Nenhum cuidador encontrado.
      </h2>
    }
    @for (provider of filteredProviders; track provider.name) {
      <div class="provider">
        <app-card-service-provider
          providerId="{{ provider.id }}"
          providerName="{{ provider.name }}"
          providerServiceDescription="{{ provider.service_description }}"
          providerAge="{{ provider.age }}"
          providerCountry="{{ provider.country }}"
          providerState="{{ provider.state }}"
          providerCity="{{ provider.city }}"
          providerPhoto="{{ provider.photo }}"
          providerExp_elderly="{provider.exp_elderly }}"
          providerExp_children="{{ provider.exp_children }}"
          providerExp_disabled="{{ provider.exp_disabled }}"
          providerExperience="{{ provider.experience }}"
          providerQualifications="{{ provider.qualifications }}"
          [providerFavorited]="provider.favorited ?? false"
          [discover]="true"
        ></app-card-service-provider>
      </div>
    }
  }
  @else{
    <h2>
      Nenhum cuidador encontrado.
    </h2>
  }
</div>
