<div class="container">
  <div mat-dialog-title class="dialog-title">
    <button mat-icon-button aria-label="close dialog" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="content">
    <!-- carregar componente de upload-->
    <div class="upload-img">
      <div class="providers">
        <div class="class-img-provider">
          <img
          [src]="
            modal.serviceProvider.photo
              ? modal.serviceProvider.photo
              : 'assets/imgs/user_icon.svg'
          "
          class="provider-cover"
          alt="Imagem selecionada"
        />
        </div>
      </div>
      <div class="main-info">
        <div class="provider-info">
          <span id="username">
            {{ modal.serviceProvider.name }} ({{
              modal.serviceProvider.age
            }}
            anos) - {{ modal.serviceProvider.city }},
            {{ modal.serviceProvider.state }} <br /><br />
            {{ modal.serviceProvider.exp_elderly ? "" : "Não" }} Possui experiência cuidando de idosos <br />
            {{ modal.serviceProvider.exp_children ? "" : "Não" }} Possui experiência cuidando de crianças <br />
            {{ modal.serviceProvider.exp_disabled ? "" : "Não" }} Possui experiência cuidando de Pessoas com Condições Especiais <br />
            <br />
            @if(modal.serviceProvider.qualifications){
              <b>Formações:</b> <br />
              {{ modal.serviceProvider.qualifications }} <br />
            }
            <br />
            @if(modal.serviceProvider.experience != null){
              <b>Anos de Experiência:</b> <br />
              {{ modal.serviceProvider.experience }} <br />
            }
          </span>
        </div>
      </div>
    </div>
    <div class="provider-description">
      <p class="description">
        {{ modal.serviceProvider.service_description }}<br /><br />
      </p>
    </div>
  </div>
  @if(!isProviderRequirement){
    <div class="button-register">
      <button mat-flat-button class="btn-register" color="black" (click)="onRequestProvider()"> 
        Solicitar cuidador
      </button>
    </div>
  }
</div>
