.container {
  margin-top: 0.5rem;
}

.container-mobile {
  margin-top: 0.5rem;
  margin-bottom: 5.18rem;
}

.content {
  display: flex;
  justify-content: space-between;
}
.description {
  word-break: break-all;
}

.container-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h5 {
  color: var(--Neutral-Colors-Neutral-120, #303133);
}

a {
  color: var(--Support-Colors-Info-info-80, #608ae1);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.875rem;
  letter-spacing: 0.01563rem;
  text-decoration: none;
  cursor: pointer;
}

#date {
  color: var(--Neutral-Colors-Neutral-110, #515255);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#username {
  color: var(--Neutral-Colors-Neutral-120, #303133);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-info {
  width: 80%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: calc(0.33 * 80%);
}

.provider-info {
  display: flex;
  padding: var(--none, 0rem);
  align-items: center;
  gap: var(--1, 0.5rem);
}
::ng-deep button[mat-flat-button] {
  background-color: black !important; /* Fundo preto */
  color: white !important; /* Texto branco */
}

::ng-deep button[mat-flat-button]:hover {
  background-color: #333 !important; /* Fundo preto mais claro no hover */
}

.hidden-input {
  display: none;
}

.mat-18 {
  align-self: center;
  width: 2.875rem;
  height: 2.875rem;
  font-size: 2.857rem;
  margin-bottom: 1rem;
}

.provider-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto;
  // description text
  color: var(--Neutral-Colors-Neutral-120, #303133);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.03125rem;
  padding-right: 3rem;
}

.providers {
  padding-right: 3rem;
  width: 80%;
  align-items: center;
  align-content: center;
}
.empty-providers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 36.5625rem;
  padding: var(--none, 4.25rem) var(--none, 1.3125rem);
  border-radius: var(--borderRadius, 0.25rem);
  background: var(--color-principal-70, #e6e9f2);
}
.class-img-provider{
  align-items: center;
  padding-left: 5rem;
}
.provider-cover {
  border-radius: 0.25rem;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.button-register{
  padding-left: 2rem;
  padding-top: 1.5rem;
  padding-right: 2rem;
}
.btn-register{
  width:40%;
  align-items: left;
}
@media  (max-width: 37.5rem) {
  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
  .btn-register{
    width: 100%;
  }
  .provider-description{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
}