<div class="container">
  <div mat-dialog-title class="dialog-title">
    <button mat-icon-button aria-label="close dialog" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="content">
    <!-- carregar componente de upload-->
    <div class="upload-img">
      <div class="providers">
        <img
          [src]="
            modal.serviceProvider.photo
              ? modal.serviceProvider.photo
              : 'assets/imgs/user_icon.svg'
          "
          class="provider-cover"
          alt="Imagem selecionada"
        />
      </div>
      <div class="main-info">
        <div class="provider-info">
          <span id="username">
            {{ modal.serviceProvider.name }} ({{
              modal.serviceProvider.age
            }}
            anos) - {{ modal.serviceProvider.city }},
            {{ modal.serviceProvider.state }} <br /><br />
          </span>
        </div>
      </div>
    </div>
    <div class="provider-description">
      <p class="description">
        {{ modal.serviceProvider.service_description }}<br /><br />
      </p>
    </div>
  </div>
  <button mat-flat-button color="primary" (click)="enviarSolicitacao()">
    Enviar Solicitação
  </button>
</div>
