<ng-container>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      @if (isMobile && isLoggedIn){
      <button
        class="button-menu"
        id="button-menu-mobile"
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Menu button"
      >
        <mat-icon>menu</mat-icon>
      </button>
      }
      <div routerLink="/home" class="div-logo">
        <a>
          <mat-icon id="icon-logo" svgIcon="Logo">menu</mat-icon>
        </a>
        <h4>BabyCare</h4>
      </div>
      <mat-menu class="mat-menu" #menu="matMenu">
        <div class="info-user">
          <div class="info-user-text">
            <span id="username-info">userName</span>
            <span id="username-email-info">userEmail</span>
          </div>
        </div>
        <div class="divider">
          <div class="divider-row"></div>
        </div>
        <div class="sections">
          <a mat-menu-item>
            <mat-icon>person</mat-icon>
            <span routerLink="/profile" class="sections-text">Meu perfil</span>
          </a>
          <button mat-menu-item>
            <mat-icon>search</mat-icon>
            <span routerLink="/discover" class="sections-text">Descobrir</span>
          </button>
          <button mat-menu-item>
            <mat-icon>star</mat-icon>
            <span routerLink="/favorites" class="sections-text"
              >Meus Favoritos</span
            >
          </button>
          <button mat-menu-item>
            <mat-icon>work</mat-icon>
            <span routerLink="/care" class="sections-text">Quero Cuidar</span>
          </button>
          <div class="divider">
            <div class="divider-row"></div>
          </div>
          <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            <span class="sections-text">Sair</span>
          </button>
        </div>
      </mat-menu>
      <div class="right-side">
        @if (!isMobile){
        <div class="sections" id="sections-desktop">
          <a routerLink="/discover" class="menu-item">Descobrir</a>
          <a routerLink="/favorites" class="menu-item">Meus Favoritos</a>
          <a routerLink="/care" class="menu-item">Quero Cuidar</a>
        </div>
        }
      </div>
      <div class="div-icons">
        @if (isLoggedIn){ @if(isMobile){
        <a class="div-profile-img" id="profile-img-mobile">
          <img class="profile-img" />
        </a>
        } @else {
        <a
          class="div-profile-img"
          [matMenuTriggerFor]="menu2"
          id="profile-img-desktop"
          ><img class="profile-img"
        /></a>
        } } @else {
        <div routerLink="/login" id="div-register">
          <mat-icon id="icon-register">person</mat-icon>
          <a id="text-register"> Entrar</a>
        </div>
        }
        <mat-menu class="mat-menu" #menu2="matMenu">
          <div class="info-user">
            <div class="info-user-text">
              <span id="username-info">userName</span>
              <span id="username-email-info">userEmail</span>
            </div>
          </div>
          <div class="divider">
            <div class="divider-row"></div>
          </div>
          <div class="sections">
            <a mat-menu-item>
              <mat-icon>person</mat-icon>
              <span routerLink="/profile" class="sections-text"
                >Meu perfil</span
              >
            </a>
            <button mat-menu-item>
              <mat-icon>exit_to_app</mat-icon>
              <span class="sections-text">Sair</span>
            </button>
          </div>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</ng-container>
