<ng-container>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      @if (isMobile){
      <button
        class="button-menu"
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Menu button"
      >
        <mat-icon>menu</mat-icon>
      </button>
      }
      <mat-menu class="mat-menu" #menu="matMenu">
        <div class="info-user">
          <div class="info-user-text">
            <span id="username-info">userName</span>
            <span id="username-email-info">userEmail</span>
          </div>
        </div>
        <div class="divider">
          <div class="divider-row"></div>
        </div>
        <div class="sections">
          @if(isMobile){
          <a href="" mat-menu-item>
            <mat-icon>person</mat-icon>
            <span class="sections-text">Meu perfil</span>
          </a>
          }
          <button mat-menu-item>
            <span class="sections-text">Meus Favoritos</span>
          </button>
          <button mat-menu-item>
            <span class="sections-text">Descobrir</span>
          </button>
          <button mat-menu-item>
            <span class="sections-text">Quero me inscrever</span>
          </button>
          <div class="divider">
            <div class="divider-row"></div>
          </div>
          <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            <span class="sections-text">Sair</span>
          </button>
        </div>
      </mat-menu>
      <div class="right-side">
        <div class="div-logo">
          <a>
            <mat-icon id="icon-logo">menu</mat-icon>
          </a>
        </div>
        @if (!isMobile){
            <div class="sections">
                <a id="my-projects">Meus Favoritos</a>
                <a class="link-menu">Descobrir</a>
                <a class="link-menu">Quero me inscrever</a>
            </div>
        }
      </div>
      <div class="div-icons">
        @if(isMobile){
        <a class="div-profile-img" [matMenuTriggerFor]="menu2">
          <img class="profile-img" />
        </a>
        } @else {
        <a class="div-profile-img">
          <img class="profile-img" />
        </a>
        }
        <mat-menu class="mat-menu" #menu2="matMenu">
          <div class="info-user">
            <div class="info-user-text">
              <span id="username-info">userName</span>
              <span id="username-email-info">userEmail</span>
            </div>
          </div>
          <div class="divider">
            <div class="divider-row"></div>
          </div>
          <div class="sections">
            <a href="" mat-menu-item>
              <mat-icon>person</mat-icon>
              <span class="sections-text">Meu perfil</span>
            </a>
            <button mat-menu-item>
              <mat-icon>exit_to_app</mat-icon>
              <span class="sections-text">Sair</span>
            </button>
          </div>
        </mat-menu>
        <div class="div-icon-notification">
          <a class="div-icon" mat-icon-button>
            <mat-icon id="icon-notification">menu</mat-icon>
          </a>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</ng-container>
