<app-nav-bar></app-nav-bar>

<div class="profile-container">
  <h1>Minha Conta</h1>
  <h2>BemCuidar</h2>
  <div class="div-links">
    <div class="class-button-my-ad">
      <a id="button-my-ad" href="/provider-announcements">
        <span class="sections-text"><u>Meu Anúncio</u> </span>
      </a>
    </div>
    <div class="class-sections-text">
      <a href="/user-requests">
        <span class="sections-text"><u>Minhas Solicitações</u></span>
      </a>
    </div>
    <div class="class-sections-text">
      <a href="/provider-requests">
        <span class="sections-text"><u>Solicitações recebidas</u></span>
      </a>
    </div>
  </div>
</div>
