profile-container{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
div-links{
    padding-top: 30rem;
    border-style: solid;
    border-radius: 2rem;
    border-color: black;
    height: 30rem;
    width: 30rem;
}
sections-text{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

h1{
    font-family: Hammersmith One;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding-top: 15rem;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2{
    font-family: Hammersmith One;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding-top: 0;
}