
.div-links{

    height: 20rem;
    width: 100%;
    display: flex;
    flex-direction: column; /* Para alinhar os botões em uma coluna */
    gap: 1rem; /* Espaço entre os botões */
    align-items: center; /* Centraliza os botões horizontalmente */
    align-content: center;
}

h1{
    font-family: Hammersmith One;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding-top: 15rem;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2 {
  font-family: Hammersmith One;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding-top: 0;
}
::ng-deep button[mat-flat-button] {
  background-color: #007bff !important;
  color: white !important;
  border-radius: 0.5rem;
}
.class-button-my-ad a{
  align-items: left;
  color: black;
  text-align: left;

}
.class-sections-text a{
  color: black;
  align-items: left;
text-align: left;
}
