<app-nav-bar></app-nav-bar>

<div class="container">
  <div class="img-container"></div>
  <div class="form-container">
    <h5 class="title-login">Entre no BemCuidar</h5>
    <div class="div-form">
      <form [formGroup]="form">
        <p class="msg-login">Faça login com e-mail</p>
        <div class="div-campos">
          <mat-form-field class="input" appearance="outline">
            <mat-label>E-mail</mat-label>
            <input type="email" matInput formControlName="email" />
            @if(form.get("email")?.invalid){
            <mat-error>{{ formErrorMessage("email") }}</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="input" appearance="outline">
            <mat-label>Senha</mat-label>
            <input type="{{ password }}" matInput formControlName="password" />

            @if(form.get("password")?.invalid){
            <mat-error>{{ formErrorMessage("password") }}</mat-error>
            } @if(visibility){
            <mat-icon (click)="onClick()" matSuffix>visibility_off</mat-icon>
            } @else {
            <mat-icon (click)="onClick()" matSuffix>visibility</mat-icon>
            }
          </mat-form-field>
        </div>
        <div class="div-btn-signin">
          @if(hasError){
          <p class="error-message">{{ hasError }}</p>
          }
         <button
            (click)="login()"
            class="btn-primary"
            mat-flat-button
            color="primary"
          >
            <span>ENTRAR</span>
          </button>
        </div>
        <a routerLink="/register" class="msg-register"> Cadastre-se</a>
      </form>
    </div>
  </div>
</div>
