.container {
  display: flex;
  justify-content: center;
  height: 99vh;
  width: 100%;
}

.error-message {
  color: red;
}
.div-campos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
}
.title-login{
  font-family:Hammersmith One;
}
a {
  cursor: pointer;
}

h5 {
  font-size: 1.5rem;
  font-size: 36px;
}

.img-container {
  display: none;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.msg-login {
  color: var(--Neutral-Colors-Neutral-110, #515255);
}
.msg-register {
  color: var(--Neutral-Colors-Neutral-110, #515255);
  text-decoration: none;
}

.div-btn-signin {
  margin-bottom: 1.13rem;
}

.div-form {
  display: flex;
  width: 19.5rem;
  height: 16.9375rem;
  padding-bottom: 0.1875rem;
  flex-direction: column;
  justify-content: center;
  gap: 1.125rem;
}

@media screen and (min-width: 1060px) {
  .container {
    justify-content: center;
  }
  .img-container {
    display: block;
  }
  .img-container img {
    height: 100%;
  }

  .form-container h5 {
    font-size: 3rem !important;
    margin-bottom: 3rem;
  }

  .form-container {
    width: 70%;
  }

  .div-form {
    width: 32.313rem;
    height: 21.9rem;
    border-radius: 0.5rem;
    border-width: 0.07rem;
    border-color: #b9b9b9;
    border-style: solid;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
.hammersmith-one-regular {
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.btn-primary{
  width: 100%;
}
::ng-deep button[mat-flat-button] {
  background-color: black !important;
  color: white !important;
  border-radius: 0.5rem;
}
