.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
  }
  mat-form-field {
    border-radius: 1rem;
  }
  .container h1 {
    font-size: 2.25rem;
    font-family: Hammersmith One;
  }
  
  .fields {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    padding-top: 1.5rem;
    font-size: 2.1rem;
  }
  
  .input {
    width: 18rem;
    padding-bottom: 1.5rem;
  }
  
  .div-form {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .empty-projects {
    width: 10rem;
  }
  .upload-img {
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .empty-projects {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0rem;
    height: 19rem;
    border-radius: var(--borderRadius, 0.25rem);
    background: var(--color-principal-70, #e6e9f2);
  }
  
  label {
    color: var(--Neutral-Colors-Neutral-110, #515255);
  }
  
  h5 {
    flex-shrink: 0;
    align-self: stretch;
    color: var(--Neutral-Colors-Neutral-110, #515255);
    line-height: 1.5rem;
  }
  
  .hidden-input {
    display: none;
  }
  
  .add-project {
    display: flex;
    flex-direction: column;
  }
  
  .mat-18 {
    align-self: center;
    width: 2.875rem;
    height: 2.875rem;
    font-size: 2.857rem;
    margin-bottom: 1rem;
  }
  
  #add-img-button {
    cursor: pointer;
    width: 100%;
    height: 100%;
    border: none;
  }
  
  .button-container {
    padding: 0 !important;
  }
  .project-cover {
    width: 100%;
    border-radius: 0.25rem;
    object-fit: cover;
  }
  
  .div-finish-modal {
    display: flex;
    padding: var(--none, 0rem);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--2, 1rem);
  }
  .projects button {
    cursor: pointer;
    border: none;
    border-radius: 0.25rem;
  }
  
  .button-save {
    color: #fcfdff;
    display: flex;
    margin-right: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    border-radius: var(--borderRadius, 0.25rem);
    background: var(--Color-Brand-Secundria-Secondary-100, #f52);
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  }
  .title-localization h3 {
    font-size: 1.5rem;
    font-family: Inter;
    font-weight: bold;
  }
  .title-age-preference h3{
    font-size: 1.5rem;
    font-family: Inter;
    font-weight: bold;
  }
  #button-cancel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    border-radius: var(--borderRadius, 0.25rem);
    background: var(--action-disabledBackground, rgba(0, 0, 0, 0.12));
  
    color: var(--action-disabled, rgba(0, 0, 0, 0.38));
    font-feature-settings: "clig" off, "liga" off;
  
    font-family: Roboto;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625rem;
    letter-spacing: 0.02875rem;
    text-transform: uppercase;
  }
  
  @media screen and (min-width: 992px) {
    .fields {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: first baseline;
      flex-wrap: wrap;
    }
    #age-field {
      padding-bottom: 0rem;
      padding-top: 0rem;
    }
    #nameField {
      padding-left: 1.5rem;
      padding-bottom: 0rem;
      padding-top: 0rem;
    }
    .fields {
      width: 60rem;
      height: 110rem;
      border-radius: 1.25rem;
      border-width: 0.07rem;
      border-color: #d9d9d9;
      border-style: solid;
      align-items: center;
    }
    .map-gap{
      margin-left: 3rem;
      width: 54rem;
      height: 26rem;
      border-radius: 0.5rem;
      border-width: 0.07rem;
      border-color: #d9d9d9;
      border-style: solid;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem ;
    }
    .title-localization {
      padding-left: 2rem;
      padding-right: 35rem;
      padding-bottom: 0rem;
      padding-top: 0rem;
    }
    .title-description {
      padding-left: 2rem;
      padding-right: 5rem;
      padding-top: 0rem;
      padding-bottom: 1rem;
    }
    .checkbox-age{
      padding-left:1rem;
      margin-top: 0rem;
      padding-bottom: 1rem;
    }
    .title-age-preference{
      padding-left: 1.8rem;
      padding-right: 30rem;
      padding-bottom: 0rem;
      padding-top: 0rem;
    }
  
    .title-about-yourself {
      align-items: rigth;
      padding-top: 1.25rem;
      padding-left: 1.875rem;
      padding-right: 40rem;
      margin-bottom: 0rem;
      margin-top: 0rem;
    }
    .title-about-yourself h2 {
      font-family: Inter;
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 0rem;
    }
    .title-description h3 {
      font-family: Inter;
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 0rem;
    }
  
    .input {
      width: 20%;
      margin: 0.8rem;
      height: 3rem;
    }
    #country-field {
      margin-top: 0rem;
      padding-top: 0rem;
      padding-bottom: 0rem;
    }
    #state-field {
      margin-top: 0rem;
      padding-top: 0rem;
      padding-bottom: 2rem;
    }
    #city-field {
      margin-top: 0rem;
      padding-top: 0rem;
      padding-bottom: 0rem;
    }
    #CEP-field {
      margin-top: 0rem;
      padding-top: 0rem;
      padding-bottom: 0rem;
    }
    #bairro-field {
      margin-top: 0rem;
      padding-top: 0rem;
      padding-bottom: 0rem;
    }
    #street-field {
      margin-top: 0rem;
      padding-top: 0rem;
      padding-bottom: 0rem;
      width: 29rem;
    }
    #street-number-field {
      margin-top: 0rem;
      padding-top: 0rem;
      padding-bottom: 0rem;
      width: 8.65rem;
    }
    
    .description {
      width: 100%;
      display: flex;
      align-items: center;
    }
    .description #description-field {
      margin-top: 0rem;
      width: 60rem;
    }
  
    .upload-img {
      padding-top: 1rem;
      width: 100%;
    }
  
    .empty-projects {
      width: 25rem;
      height: 30rem;
    }
    .class-button-register {
      padding-bottom: 2rem;
      padding-top: 6rem;
    }
  
    #button-register {
      font-size: 1.5rem;
      font-weight: bold;
      color: black;
      width: 58rem;
      height: 3rem;
      margin: 1rem;
      margin-top: 0rem;
      margin-bottom: 0rem;
      padding-top: 0.2rem;
    }
    #button-register h4 {
      color: black;
    }
    #country-field {
      padding-bottom: 0rem;
      padding-top: 0rem;
    }
    #state-field {
      padding-bottom: 1rem;
      padding-top: 0rem;
    }
    #country-field {
      padding-bottom: 1rem;
      padding-top: 0rem;
    }
    #city-field {
      padding-bottom: 1rem;
      padding-top: 0rem;
    }
    #CEP-field {
      padding-bottom: 1rem;
      padding-top: 0rem;
    }
    #bairro-field {
      padding-bottom: 1rem;
      padding-top: 0rem;
    }
    #street-field {
      padding-bottom: 1rem;
      padding-top: 0rem;
    }
    #street-number-field {
      padding-bottom: 1rem;
      padding-top: 0rem;
    }
  }
  ::ng-deep button[mat-flat-button] {
    background-color: black !important;
    color: white !important;
    border-radius: 0.5rem;
  }
  .mat-mdc-checkbox{
    --mdc-checkbox-selected-icon-color: #3f51b5 !important;
    --mdc-checkbox-pressed-focus-state-color: #3f51b5 !important;
  
    --mdc-checkbox-state-layer-size: 50px;
    --mdc-checkbox-unselected-hover-icon-color: #3f51b5 !important;
    --mdc-checkbox-selected-focus-state-layer-color: #3f51b5 !important;
    --mdc-checkbox-selected-pressed-state-layer-color:#3f51b5 !important;
    --mdc-checkbox-selected-pressed-icon-color: #3f51b5!important;
    --mdc-checkbox--anim-unchecked-checked-color: #3f51b5!important;
    --mdc-checkbox__native-control-color:#3f51b5!important;
    --mdc-checkbox--selected-color: #3f51b5!important;
    --mat-full-pseudo-checkbox-selected-icon-color:#3f51b5!important;
    --mdc-checkbox-selected-hover-state-layer-color:#3f51b5!important;
    --mdc-checkbox-selected-hover-icon-color:#3f51b5!important;
    --mdc-checkbox-selected-focus-icon-color:#3f51b5!important;
    --mat-select-invalid-arrow-color:#3f51b5!important;
    --mat-minimal-pseudo-checkbox-selected-checkmark-color:#3f51b5!important;
  }
  